
*
{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}

header #banner{
	width: 100%;
	max-width: 1920px;

	background-size: 100%;
	display: inline-block;
}

.nav{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
	position: fixed;
	width:100%;
}

li{
	float: left;

}
li a{
	display:block;
	color: white;
	padding:8px;
	padding: 20px 50px;

}

li a:hover{
	background-color: black;
}

